* {
    box-sizing: border-box;
    border: none;
    padding: 0;
}

body{
    background-color: #f4f4f4;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.box{
    background: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
}

.input-group {
    position: relative;
    margin: 10px 0;
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 16px;
    padding: 0 5px;
    pointer-events: none;
    transition: .5s;
}

.input-group input , .box button{
    width: 320px;
    height: 40px;
    font-size: 16px;
    padding: 0 10px;
    background: transparent;
    border: 1.2px solid #111;
    outline: none;
    border-radius: 5px;
}

.input-group input:focus~label,
.input-group input:valid~label {
    top: 0;
    font-size: 12px;
    background: #fff;
}
.box button{
    background-color: #333;
    cursor: pointer;
    color: #fff;
    margin-bottom: 10px;
}
.box a{
    text-decoration: none;
}
.error{
    color: red;
}